* {	box-sizing: border-box;}

.wrap-mn{
	width: 100%;
	max-height: 50px;
	background: black;
}

.main-menu {
	max-width: 1200px;
	height: 50px;
	background: black;
	margin: auto;
}


.axit {color: white;
	max-width: 64px;
	height: 50px;
	margin: 0;
	padding-left: 0%;
	padding-top: 2%;
	 }

.mn-r {color: white;
	height: 100%;
	margin: 0;
	padding-left: 34px;
	padding-top: 14px;}

.left {float: left;}

.main{width: 50%;
		height: 100%;}

.right {float:left;
		margin: auto;
		width: 16.6667%;
		height: 100%;}


.bg{
	width: 100%;
	url("../../img/bg7.jpg");
	position: relative;
}


.pic {
	width: 100%;
	opacity: 0.8;
}	



.text-insize {
	width: 35%;
	position: absolute;
	top: 17%;
	left: 13.55%;

}

h1{
	color: white;
	width: 10%;
	height: 10%;
	font-size:300%;
}

.slogan {
	font-size: 120%;
	width: 100%;
	color: white;

}

.gach {
	width: 16%;
	height: 1px;
	background: white;
}

.mess {
	font-size: 100%;
	color: rgb(229,229,229 );
	width: 100%;
}


.download {
	padding: 7px 6px;
	width: 100px;
	height: 38px;
	border: 2px solid;
	border-color: white;
	position: absolute;
	color: white;
	text-align: center;
}



.box-insize {
	position: relative;
	position: absolute;
	top: 22%;
	left: 69.45%;
	width: 17%;
	height: 36%;
	background: white;
	border-radius: 1%;
}


.yellow {
	color: rgb(255,205,0);
}



.try {
		display: block;
		width: 100%;
		height: 15%;
		background: rgb(246,246,246);
		margin: auto;
		text-align: center;
		padding-top:4%;
		font-size: 120%;
		border-top-right-radius: 2%;
		border-top-left-radius: 2%;
}


.grey {
	padding-left: 9%;
	padding-top: 7%;
	padding-bottom: 0;
	color: rgb(204,204,204);
	margin: 3%;
}

.ke {
	width: 80%;
	height: 1px;
	margin: auto;
	background: rgb(204,204,204);
}

.get-started {
	width: 100%;
	height: 17%;
	background: #7f7f00;
	text-align: center;
	border-radius: 2%;
	position: absolute;
	bottom:0px;
}

.gs{
	margin-top: 4%;
	padding-top: 0;
	padding-bottom:0;
	color: white;
	font-size: 120%;
}


.wrap-sm {
	width: 100%;
	height: 100px;
	background: #e8e8e8;
	}



.media{max-width: 1200px;
		height: 100px;
		margin: auto;
		background: #e8e8e8;
		}


.giua {
		width: 30%;
		height: 100%;
		margin: auto;
}


.items {
	float: left;
	width: 25%;
	height: 100%;
	text-align: center;
}


.social {
	height: 100%;
	width: 30%;
}

.sm {
	width: 100%;
	height: 15%;
	color: black;
	font-size: 130%;
	margin: 16px 0px;

}


.text-m {
	width: 100%;
	height: 8%;
}


.space{
	width: 10%;
	height: 100%;
	
}

.icons {
	float: left;
	width: 10%;
	font-size: 400%;
	padding-top: 1.5%;
	text-align: center;
	margin: auto;
}


.wrap-zone {
	width: 100%;
	height: 500px;
	background: #f4f4f4;
}

.zone {
	max-width: 1200px;
	height: 500px;
	margin: auto;
	
}

.z1 {
	background: #f4f4f4;
}


.bigbox{
	width: 9%;
	height: 60%;
	margin-top: 5%	;
}

.box {
	max-width: 100%;
	height: 30%;
	background: rgb(127,62,0);
	border-radius: 2%;
	text-align: center;
	margin-top:2px;
	padding-top: 32px;
}



.text-insize2{
	width: 40%;
	height: 36%;
	margin-left: 10%;
	margin-top:5%;
}


.slogan2 {
	font-size: 120%;
	width: 100%;

}



.mess2 {
	font-size: 90%;
	width: 100%;
}

.download2 {
	padding: 8px 6px;
	width: 100px;
	height: 38px;
	border: 1px solid;
	border-color: black;
	text-align: center;
}


.pic-iz {
	width: 38%;
	height: 69%;
	margin-left: 3%;
	margin-top: 2%;
}


.z2{
	background: white;

	}


.text-insize3{
	width: 50%;
	height: 50%;
	margin-top: 8%;
	margin-left: 16%;
	}


.pic-iz2{
	margin-top: 8%;
}

.clouddownload {
	color: orange;
	}

.slogan3{
	font-size: 140%;
}

.gach2 {
	width: 17%;
	height: 2px;
	background: orange;
}


.z3{
	background: #f4f4f4;
	
}

.text-insize4{
	width: 50%;
	height: 50%;
	margin-top: 8%;
	}


.pic-iz3{
	margin-top: 8%;
	margin-left: 16%;
}


.mess5 {
	font-size: 100%;
	width: 100%;
	margin:0px 5px;
}


.clear{clear: both;}

.fa-cloud-download-alt {
	margin-bottom: 20px;
}


.shadow{
	width: 100%;
	box-shadow:4px 4px 10px 0px rgba(0, 0, 0, 0.5)
}