	a {
		color: red;
		text-decoration: none;
		font-size: 50px;
	}
	a,a:link {color:red;}
	a:visited {color: black;}
	a:hover {color: white;}
	a:active {color: red;
	}
	.active {	font-weight: bold;	}

	.huong:visited {color: pink}

    
	
	.haha {width: 100%}	


	.image {clear: both;}
	#anime{clear: both}
	#phim{clear: both}
	pre {clear: both}



     .box { border: :5px solid;
    		border-color: black;
    		border-radius: 20%; 
    		float: left;}


	.lufi {	width: 100%;}
	.image { width: 50%; }
	.text {width: 50%;}	